@import url('https://fonts.googleapis.com/css2?family=Alata:wght@400&family=Josefin+Sans:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* - Family: [Alata](https://fonts.google.com/specimen/Alata)
- Weight: 400 */

/* - White: hsl(0, 0%, 100%)
- Black: hsl(0, 0%, 0%)
- Dark Gray: hsl(0, 0%, 55%)
- Very Dark Gray: hsl(0, 0%, 41%) */

:root{
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
}

body{
    font-family:"Alata", sans-serif;
    font-size: 15px;
}



header{
    background-image: url('/images/desktop/image-hero.jpg');
    background-size: cover;
    height: 600px;
}
header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
nav{
    position: absolute;
    background-color: none;
    width: 100%;
    z-index: 2;
}
.desktop-menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    list-style: none;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 1rem;
    height: 5rem;
}
.menu-desktop{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin: 0;
}
.toggle-btn{
    display: none;
}

.menu-mobile{
    display: none;
}


header nav a{
    color: white !important;
    text-decoration: none;
}
.slogan{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    color: white;
    font-weight: 700;
    margin-bottom: 1rem;
    max-width: 450px;
    margin-left: 10%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    z-index: 2;
}
.slogan h1{
    border: 2px solid white;
    font-size: 3rem;
    padding: 1rem;
    text-transform: uppercase;
}
.wrapper{
    display: flex;
    max-width: 1120px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

section{
    margin-top: 3rem;
}
.leader{
    /* display: flex; */
    position: relative;
    width: 100%;
}

.leader .leader-text{
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 40px;
}
h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--black);
    font-size: 2rem;
}
.leader .leader-text p{
    color: var(--dark-gray);
}


/* Gallery section */

.section-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "title btn"
    "gallery gallery";

    gap: 1rem;
    width: 100%;
    padding: 2rem;

}
.gallery-title{
    grid-area: title;
    display: flex;
    align-items: center;
}
.gallery-btn-container{
    grid-area: btn;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    width: 100%;
}
.gallery-btn-container .gallery-btn{
    background-color: transparent;
    border: none;
    padding: 1rem 3rem;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid black;
    font-family: 'alata', sans-serif;
    letter-spacing: 0.2rem;
    font-weight: 400;
    
}


.gallery-desktop{
    grid-area: gallery;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.gallery-mobile{
    display: none;

}
.gallery-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.card{
    position: relative;
    width: 200px;
    height: 300px;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, var(--black), transparent);
  opacity: 0.5;
  z-index: 1;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .card-text{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    color: var(--white);
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
        z-index: 2;

}

/* Footer */

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem;
    display: flex;
}
.footer-wrapper{
    display: flex;
    width: 100%;
    
    padding: 2rem;
    justify-content: space-between;
}

footer .footer-col{
    display: flex;
    flex-direction: column;
    padding: auto 0;
}
footer .footer-logo{
    width: 200px;
    margin-bottom: 1rem;
}
footer .footer-nav{
    display: flex;
    gap: 1rem;
}

footer a{

    color: white;
    text-decoration: none;
}

.footer-social{
    padding: 1rem;
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: end;
}
.footer-copy{
    color: var(--dark-gray);
}

/* mobile */
@media only screen and (max-width: 760px) {

    /* Hero */
    header {
        height: 100vh;
        background-image: url('/images/mobile/image-hero.jpg');
    }
    header::after{
        height: 100vh;
    }




.menu-desktop{
    display: none;
}
.toggle-btn{
    display: block;
    cursor: pointer;
    padding: 1rem;
    margin: 1rem;
    color: white;

}

nav.expanded{
    display: flex;
    flex-direction: column;
    background-color: black;
    /* height: 15vh; */

}

nav.expanded .menu-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
   
    list-style: none;
    margin: 0;


}
/* .menu-mobile{

    display: none;
} */
.menu-mobile li{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    text-transform: uppercase;
    /* font-size: 1.5rem; */
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.menu-mobile li a{
        color:var(--very-dark-gray);

}

    .slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 10px 0 10px;
    margin: 0 0 0 0;
    margin-top: 85px;
    }

    .slogan h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 3rem
}

/* Leader */
.leader{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    width: 100%;
    padding: 1.5rem;
}

.leader .leader-text{
    position: initial;
    text-align: center;
    width: 100%;
}

/* Gallery */

.wrapper{
    width: 100%;
}
.section-gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    "title"
    "gallery"
    "btn";
    gap:2rem;
}

.gallery-title{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.gallery-mobile{
    grid-area: "gallery";
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}
.gallery-desktop{
    display: none;
}
.gallery-btn-container{
    justify-content: center;

}

.card{
    width: 100%;
    height: 120px;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



 /* Footer */


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem;
    display: flex;
    margin-top: 3rem;
}
.footer-wrapper{
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
    gap: 1rem;
}

footer .footer-col{
    flex-direction: column;
    align-items: center;
    padding: auto 0;
    gap: 1rem;
}

footer .footer-nav{
    flex-direction: column;
    gap: 1rem;
}

footer a{
    color: white;
    text-decoration: none;
}

.footer-social{
    padding: 1rem;

}
}